:root{
  --bs-font-sans-serif: 'Saira', sans-serif;
  --bs-font-monospace: 'Fira Code', monospace;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.btn{
  --bs-btn-font-weight: 500;
}

[x-cloak] { display: none !important; }

body {
  background-color: #F4F2ED;
}

body.stylesheets-disabled{
  font-family: sans-serif;
  line-height: 1.5;
}

.w-1\/3{
  width: 33.33333%;
}
.w-2\/3{
  width: 66.66667%;
}

.resize-x{
  resize: horizontal;
}

.container{
  max-width: 840px;
  margin: 0 auto;
}

.aspect-1\:1{
  aspect-ratio: 1 / 1;
}

.input-group-text{
  min-width: 4.15rem;
  justify-content: center;
}

hr {
  border-style: dashed;
}

.badge{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  font-size: 0.65rem;
  padding: 0 0.65rem;
  height: 1.25rem;
}

.bi{
  font-size: 1.25rem;
  position: relative;
  top: 1px;
}

.btn-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 2.75rem;
  width: 2.75rem;
}

.btn-icon .bi{
  line-height: 1;
  font-size: 1.25rem;
  top: 0;
}

body pre[class*=language-]{
  padding: 1rem !important;
  border: 0;
}
code[class*=language-], pre[class*=language-]{
  font-family: var(--bs-font-monospace) !important;
}

pre[class*=language-] code{
  white-space: break-spaces;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0.25rem -0.25rem #aef4af;
  }
  to {
    box-shadow: 0 0 0.25rem 0.25rem #aef4af;
  }
}
.pulse{
  animation: pulse 0.5s alternate;
  animation-iteration-count: 2;
}


@media (min-width: 768px){
  .input-group-text{
    min-width: auto;
    justify-content: flex-start;
  }
  [name="config"]{
    width: 6.75rem !important;
  }
  [name="lang"]{
    width: 4.25rem !important;
  }
  [name="container_id"]{
    width: 7.25rem !important;
  }
}
